certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
flake8==7.3.0
geographiclib==2.0
geopy==2.4.1
idna==3.10
numpy==2.3.2
pandas==2.3.1
pre_commit==4.3.0
python-dateutil==2.9.0.post0
python3-gearman==0.1.0
pyflakes==3.4.0
pylint==3.3.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
ruff==0.12.9
six==1.17.0
tomlkit==0.13.3
tzdata==2025.2
urllib3==2.5.0
