certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
idna==3.10
numpy==1.24.4
pandas==2.0.3
python-dateutil==2.9.0.post0
python3-gearman==0.1.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
tzdata==2025.1
urllib3==2.2.3
